.todo {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #fafafa;
  border: 1px solid #eaeaea;
  align-items: center;
  border-radius: 8px;
  gap: 20px;
  height: 70px;
}

.todo:hover {
  border: 1px solid #dadada;
  background: #f5f5f5;
}

.todo__checkbox {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: white;
  border: 1px solid #aaa;
  border-radius: 100%;
  content: '';
}

.todo__color {
  width: 8px;
  height: 100%;
  display: block;
  border-radius: 8px 0 0 8px;
}

.todo__checkbox:hover,
.todo__checkbox:focus {
  border: 1px solid #1457ad;
  cursor: pointer;
}

.todo__checkbox.todo__checkbox--checked {
  border: 1px solid #1457ad;
}

.todo__checkbox > span {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #1457ad;
}